<div class="site grid-container container hfeed" id="page" *ngIf="ErrorMessage == false">
    <div class="site-content" id="content">
        <div class="content-area" id="primary">
            <main class="site-main" id="main">
                <article id="post-57" class="post-57 page type-page status-publish">
                    <div class="inside-article">
                        <div class="entry-content" itemprop="text">
                            <div class="gb-container gb-container-6cca9d99 gb-container-a5c99ba6"
                                [style]="{'background': fullDetails?.bank_color}">
                                <div class="gb-container gb-container-41ed9b38">
                                    <h1 class="gb-headline gb-headline-6d33c642 gb-headline-text">
                                        <strong><strong>{{fullDetails?.bank_name}}
                                                to Bank
                                                Transfer</strong>
                                        </strong>
                                    </h1>
                                </div>
                            </div>
                            <div class="gb-container gb-container-6ceb0b02">
                                <div class="gb-container gb-container-6d5f2ae1 gb-container-a5c99ba6">
                                    <div class="gb-container gb-container-feb1a180"
                                        [style]="{'background': fullDetails?.bank_color}">
                                        <div class="gb-grid-wrapper gb-grid-wrapper-c81de794">
                                            <div class="gb-grid-column gb-grid-column-20a5cc92">
                                                <div class="gb-container gb-container-20a5cc92">
                                                    <div class="gb-container gb-container-1a757280">
                                                        <figure class="wp-block-video"><video controls
                                                                [src]="fullDetails?.video"></video>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gb-grid-column gb-grid-column-07648120">
                                                <div class="gb-container gb-container-07648120">
                                                    <div class="gb-container gb-container-ed790568">
                                                        <p [innerHTML]="fullDetails?.video_text"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gb-container gb-container-6cad772f gb-container-a5c99ba6">
                                <div class="gb-container gb-container-ac739990">

                                    <h2 class="gb-headline gb-headline-7e989362 gb-headline-text"
                                        [style]="{'background': fullDetails?.bank_color}"><strong>Step By Step
                                            Process Of {{fullDetails?.bank_name}}
                                            to Bank Transfers</strong>
                                    </h2>
                                </div>
                            </div>
                            <div class="gb-container gb-container-d9074e31 gb-container-a5c99ba6"
                                [style]="{'background': fullDetails?.bank_color}">
                                <div class="gb-container gb-container-b7278130">
                                    <div class="gb-grid-wrapper gb-grid-wrapper-4b58bed2">
                                        <div class="gb-grid-column gb-grid-column-7207217f"
                                            *ngFor="let step of fullDetails?.image_detail; let i = index">
                                            <div class="gb-container gb-container-7207217f">
                                                <div class="gb-container gb-container-acbebbf3">
                                                    <h2 class="gb-headline gb-headline-0ce800fb gb-headline-text">STEP
                                                        {{i + 1}}
                                                    </h2>
                                                    <figure class="gb-block-image gb-block-image-7a99b63a"><img
                                                            fetchpriority="high" decoding="async" width="1080"
                                                            height="2400" class="gb-image gb-image-7a99b63a"
                                                            [src]="step?.step_image" alt=""
                                                            title="ImportedPhoto_1715084166710" /></figure>

                                                    <p class="has-text-align-center">{{step?.step_detail}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>

<div class="site grid-container container hfeed" id="page" *ngIf="ErrorMessage == true">
    <div class="site-content" id="content">
        <div class="content-area" id="primary">
            <main class="site-main" id="main">
                <div class="entry-content" itemprop="text">
                    <div class="gb-container gb-container-6cca9d99 gb-container-a5c99ba6"
                        [style]="{'background': fullDetails?.bank_color}">
                        <div class="gb-container gb-container-41ed9b38">
                            <h1 class="gb-headline gb-headline-6d33c642 gb-headline-text">
                                <strong><strong>No Data Found</strong></strong>
                            </h1>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>